@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

body {
    padding: 0 1.9rem;
    min-height: 100vh;
}

main {
    position: relative;
    min-height: 100vh;
}


img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 2.4rem;
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 700;
    color: #A9A9A9;
}