
.header__text {
font-family: PT Serif ;
font-size: 3.6rem ;
margin: 7.1rem 0 3.8rem 0;

}

.header_description {
    * {
        font-family: Poppins;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 27px;
        margin-bottom: 1rem;
    }

    p {
        font-size: var(--fs-main);
        max-width: 333px;
    }

}

@media screen and (min-width:90em) {
    .header__text {
        margin:0;
        
        }
        p {
            max-width: 438px !important;
        }
}