.profile {
    
    .profile__main {
        display: flex;
        max-width: 156px;
    }

    figcaption {
        text-transform: uppercase;
        font-family: PT Serif;
        line-height: 13px;
        padding-left: 0.6rem ;
        font-size: var(--fs-pr-role);
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

}

.profile__footer {
    font-family: Poppins;
    font-weight: 600;
    padding-top: 0.5rem;
    line-height: 21px;
    font-size: var(--fs-pr-name);
}

.profile:nth-child(2) {
    padding-top: 5.5rem;
}

.profile:nth-child(3) , .profile:nth-child(5)  {
    margin-top: -5.5rem;
}